<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Maximo Update Utility</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="shards.min.css">
  <link rel="stylesheet" href="utilityStyles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
</head>

<!doctype html>

<body>
  <!--<nav th:insert="fragments/navbar.html :: nav"> </nav>-->
  <!--<div th:insert="fragments/links.html :: div"> </div>-->

  <!--<header class="header">
        <img class="header__logo" src="logo.jpg" alt="Logo" width="300" height="240">
        <h1 class="header__title-text">Learning how to learn</h1>
        <p class="header__subtitle-text">about 20 words here</p>
        <div class="header__square-pic"></div>
    </header>-->

  <header class="bg-white fixed-top py-2 px-3 shadow-sm">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="header__logo" src="logo.jpg" alt="Logo" width="250" height="110"
            style="width: 100px; height: auto;">
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
        </ul>

        <div class="d-sm-flex col-12 col-lg-auto justify-content-between">
          <form class="mb-3 mb-lg-0 me-sm-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form>

          <div class="text-end">
            <button type="button" class="btn btn-outline-primary me-2">Login</button>
            <button type="button" class="btn btn-primary">Sign-up</button>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="main" style="min-height: 1200px;">
    <div class="page customers-wrapper">
      <div id="hero" class="customers--hero">
        <div class="hero__wrapper bg-dark">
          <div class="hero__background">
            <!-- Swiper -->
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('zlatibor_1.jpg')"></div>
                <div class="swiper-slide" style="background-image: url('zlatibor_2.jpg')"></div>
                <div class="swiper-slide" style="background-image: url('zlatibor_3.jpg')"></div>
                <div class="swiper-slide" style="background-image: url('zlatibor_4.jpg')"></div>
                <div class="swiper-slide" style="background-image: url('zlatibor_5.jpg')"></div>
              </div>
            </div>
          </div>
          <div class="hero__content">
            <p class="hero__title--small text-white">The first Serbian online real estate agency</p>
            <h1 class="hero__title text-white"> Buy or rent properties<br>with <span class="text-primary">no
                commission</span></h1>
          </div>
          <div class="hero__shadow"></div>
        </div>
      </div>
    </div>

    <!--<div style="padding: 5px 40px;">
      <div id="divButton">
        <div style="display:inline-block;">
          <h2 class="my-5">List of Customers</h2>
        </div>
      </div>
      <table class="table table-striped table-responsive-md">
        <thead class="tb-header"
          style="background-color:#04487e;color:#ffffff;font-size:17px;font-family: Comic Sans MS, Comic Sans, cursive;">
          <tr>
            <th>Customer name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody style="color:#04487e;font-family: Comic Sans MS, Comic Sans, cursive;">
          <tr th:each="customer, iStat : ${customerPage.content}" th:alt-title="${iStat.even}? 'even' : 'odd'"
            th:style="${iStat.odd}? 'background-color:#bcd4e8' : 'background-color:#ffffff'">
            <td th:text="${customer.firstName} + ' ' + ${customer.lastName}" />
            <td th:text="${customer.email}" />
            <td th:text="${customer.phone}" />
            <td th:text="${customer.status}" />
          </tr>
        </tbody>
      </table>
      <div th:if="${customerPage.totalPages > 0}" class="page" th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/customers(size=${customerPage.size}, page=${pageNumber})}" th:text=${pageNumber}
          th:class="${pageNumber==customerPage.number + 1} ? active"></a>
      </div>
    </div>-->

    <section class="estate-section-grid">
      <div class="section-grid__heading">
        <span class="section-title--small mb-1">For Owners</span>
        <h2 class="section-title">Sell and rent your real estate quickly and safely</h2>
      </div>

      <div class="section-grid__image">
        <img src="place_1.jpg" class="image">
      </div>

      <div class="section-grid__content">
        <p class="section-paragraph">Save your time and easily rent or sell your property with the lowest commission on
          the real estate market. Fulfill the form from our site or call us, and our team will take photos, make a
          presentation, and the most modern display at 360 ° of the property. Your apartment house, or business space
          will be available to thousands of buyers and tenants who search for real estate on our site.</p>
        <div class="section-flex mb-3">
          <img src="procenap.png" class="sec-img-icon me-1">
          <span class="sec-text text-dark">Free real estate estimate of value</span>
        </div>
        <div class="section-flex mb-3">
          <img src="agentp.png" class="sec-img-icon me-1">
          <span class="sec-text text-dark">Experienced agents available throughout the whole process</span>
        </div>
        <div class="section-flex">
          <img src="dokumentacijap.png" class="sec-img-icon me-1">
          <span class="sec-text text-dark">Documentation assistance with contracts, and legal support</span>
        </div>
        <div class="mt-4">
          <button type="button" class="btn btn-outline-primary font-weight-bold me-2">Find out more</button>
          <button type="button" class="btn btn-primary font-weight-bold">Offer real estate</button>
        </div>
      </div>
    </section>

    <section class="estate-section-grid row-reverse">
      <div class="section-grid__heading">
        <span class="section-title--small mb-1"> For buyers and tenants</span>
        <h2 class="section-title">Buy or rent apartment with <span class="text-primary">no commission</span></h2>
      </div>

      <div class="section-grid__image-reverse">
        <img src="place_4.jpg" class="image">
      </div>

      <div class="section-grid__content">
        <p class="section-paragraph">Save your time and easily rent or sell your property with the lowest commission on
          the real estate market. Fulfill the form from our site or call us, and our team will take photos, make a
          presentation, and the most modern display at 360 ° of the property. Your apartment house, or business space
          will be available to thousands of buyers and tenants who search for real estate on our site.</p>
        <div class="section-flex mb-3">
          <img src="procenap.png" class="sec-img-icon me-2">
          <span class="sec-text text-dark">Free real estate estimate of value</span>
        </div>
        <div class="section-flex mb-3">
          <img src="agentp.png" class="sec-img-icon me-2">
          <span class="sec-text text-dark">Experienced agents available throughout the whole process</span>
        </div>
        <div class="section-flex">
          <img src="dokumentacijap.png" class="sec-img-icon me-2">
          <span class="sec-text text-dark">Documentation assistance with contracts, and legal support</span>
        </div>
        <div class="mt-4">
          <button type="button" class="btn btn-outline-primary font-weight-bold me-2">Properties for sale</button>
          <button type="button" class="btn btn-outline-primary font-weight-bold me-2"> Properties for rent </button>
        </div>
      </div>
    </section>

    <section class="estate-section-grid">
      <div class="section-grid__heading">
        <span class="section-title--small mb-1">For Owners</span>
        <h2 class="section-title">Sell and rent your real estate quickly and safely</h2>
      </div>

      <div class="section-grid__image">
        <img src="place_6.jpg" class="image">
      </div>

      <div class="section-grid__content">
        <p class="section-paragraph">Save your time and easily rent or sell your property with the lowest commission on
          the real estate market. Fulfill the form from our site or call us, and our team will take photos, make a
          presentation, and the most modern display at 360 ° of the property. Your apartment house, or business space
          will be available to thousands of buyers and tenants who search for real estate on our site.</p>
        <div class="section-flex mb-3">
          <img src="procenap.png" class="sec-img-icon me-1">
          <span class="sec-text text-dark">Free real estate estimate of value</span>
        </div>
        <div class="section-flex mb-3">
          <img src="agentp.png" class="sec-img-icon me-1">
          <span class="sec-text text-dark">Experienced agents available throughout the whole process</span>
        </div>
        <div class="section-flex">
          <img src="dokumentacijap.png" class="sec-img-icon me-1">
          <span class="sec-text text-dark">Documentation assistance with contracts, and legal support</span>
        </div>
        <div class="mt-4">
          <button type="button" class="btn btn-outline-primary font-weight-bold me-2">Find out more</button>
          <button type="button" class="btn btn-primary font-weight-bold">Offer real estate</button>
        </div>
      </div>
    </section>

    <section class="text-center p-4 bg-light">
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Some Data - Weather API</a>
    </section>

    <section class="agency-section">
      <span class="section-title--small mb-1">The first Serbian online real estate agency</span>
      <h2 class="section-title">Why to choose City Expert?</h2>
      <div class="agency-flex">
        <div class="agency-card">
          <img class="agency-card__image" src="piktogram01.png">
          <h3 class="agency-card__title">Transparency</h3>
          <p class="agency-card__text">We create comprehensive presentations of real estate with interactive 360° display, high quality photos and video, floor plan for better view. Easy, fast and without wasting your time!</p>
        </div>
        <div class="agency-card">
          <img class="agency-card__image" src="piktogram02.png">
          <h3 class="agency-card__title">Direct communication</h3>
          <p class="agency-card__text">Communicate with the owner directly through just a few clicks on our website. Just register, choose a desired real estate and a viewing date, and we will connect you with the owner.</p>
        </div>
        <div class="agency-card">
          <img class="agency-card__image" src="piktogram03.png">
          <h3 class="agency-card__title">Free of charge for buyers and tenants</h3>
          <p class="agency-card__text">If you want to buy or rent your new place for living, we are here to help you, completely free of charge! Yes, you read well, we are saving your money!</p>
        </div>
      </div>
    </section>

    <section class="text-center p-4 bg-light">
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Some Data - Date/Time API</a>
    </section>

    <section class="paralax-section">
      <div class="paralax-background"></div>
      <span class="paralax-title">Paralax title</span>
    </section>

    <section class="accordion-section">
      <div class="accordion-flex">
        <div class="accordion-l">
          <img src="zlatibor-slika-2.jpg" class="accordion-image" alt="Something..." decoding="async" width="800" height="450">
        </div>
        <div class="accordion-r">
          <h2 class="accordion-title">Quisque porttitor</h2>
          <p class="accordion-tagline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis risus mi. Ut
            placerat quam lectus.</p>

          <div class="accordion-center">
            <article class="question shadow">
              <div class="question-title text-dark">
                <p>Accordion title</p>
                <button type="button" class="question-btn">
                  <span class="plus-icon text-primary">+</span>
                  <span class="minus-icon text-primary">-</span>
                </button>
              </div>
              <div class="question-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                  dolore illo dolores quia nemo doloribus quaerat, magni numquam
                  repellat reprehenderit.
                </p>
              </div>
            </article>
            <article class="question shadow">
              <div class="question-title text-dark">
                <p>Accordion title</p>
                <button type="button" class="question-btn">
                  <span class="plus-icon text-primary">+</span>
                  <span class="minus-icon text-primary">-</span>
                </button>
              </div>
              <div class="question-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                  dolore illo dolores quia nemo doloribus quaerat, magni numquam
                  repellat reprehenderit.
                </p>
              </div>
            </article>
            <article class="question border border-primary">
              <div class="question-title text-dark">
                <p>Accordion title</p>
                <button type="button" class="question-btn">
                  <span class="plus-icon text-primary">+</span>
                  <span class="minus-icon text-primary">-</span>
                </button>
              </div>
              <div class="question-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                  dolore illo dolores quia nemo doloribus quaerat, magni numquam
                  repellat reprehenderit.
                </p>
              </div>
            </article>
            <article class="question border border-primary">
              <div class="question-title text-dark">
                <p>Accordion title</p>
                <button type="button" class="question-btn">
                  <span class="plus-icon text-primary">+</span>
                  <span class="minus-icon text-primary">-</span>
                </button>
              </div>
              <div class="question-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                  dolore illo dolores quia nemo doloribus quaerat, magni numquam
                  repellat reprehenderit.
                </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <section class="contact-section bg-light">
      <div class="contact-inner shadow">
        <h2 class="contact-title">Contact us</h2>
        <span class="contact-description">In general, our team replies within 24-28 hours.</span>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4 bg-light">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    const swiper = new Swiper(".mySwiper", {
      autoplay: {
        delay: 2000,
      },
      loop: true,
    });
  </script>

  <!-- Accordion -->
  <script>
    (function () {
        const questions = document.querySelectorAll(".question");
        const btns = document.querySelectorAll(".question-btn");

        btns.forEach(function (btn) {
            btn.addEventListener("click", function (e) {
                const question = e.currentTarget.closest(".question");

                questions.forEach(function (item) {
                    if (item !== question) {
                        item.classList.remove("show-text");
                    }
                });

                question.classList.toggle("show-text");
            });
        });
    })();
  </script>
</body>

</html>